.splash-container {
  height: 100%;
  justify-content: center;
  position: relative;
}

.logo-container {
  margin-top: 50%;
}

.logo {
  width: 60%;
  max-width: 600px;
  padding: 10px 0;
}

/* Loader */
.loader {
  height: 40px;
  padding-top: 40vh;
  position: absolute;
}

.dot {
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background-color: var(--blue-primary);
  margin: 5px;
}

.dot1 {
  animation: loading 1.5s infinite linear;
  animation-delay: 0s;
}
.dot2 {
  animation: loading 1.5s infinite linear;
  animation-delay: 0.2s;
}
.dot3 {
  animation: loading 1.5s infinite linear;
  animation-delay: 0.4s;
}

@keyframes loading {
  0% {
    width: 5px;
    height: 5px;
  }
  50% {
    width: 15px;
    height: 15px;
  }
  100% {
    width: 5px;
    height: 5px;
  }
}
